#!/bin/bash
# the entrypoint script
# invoked by inetd on a new connection on the ssh port

oidc_file="$({{ install_dir }}setup_ssh)"

# setup oidc
{{ install_dir }}oidc_setup "${oidc_file}"

# retrive the qr code
{{ install_dir }}get_qr "${oidc_file}" > /etc/ssh/banner

# run sshd client
mkdir -p -m 700 /run/sshd
/usr/sbin/sshd -i

# At the end remove the file
rm "$oidc_file"
