#!/bin/bash
# first arg : the oidc file

source {{ install_dir }}oidc_env

tmp_file="$1"

URL="$( cat {{ install_dir }}oidc_config.json | jq '.mtls_endpoint_aliases.device_authorization_endpoint' -r )"

curl -fs --request POST --url "$URL" \
--header 'Content-Type: application/x-www-form-urlencoded' \
--data grant_type=password \
--data client_secret=$CLIENT_SECRET \
--data client_id=$CLIENT_ID > $tmp_file
